<div class="highlight">
  <p>FREE DELIVERY OVER $50</p>
  <P>EASY PAYMENT</P>
  <P>MANY PROMOTIONS !!!</P>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>

  </div>
  <a class="navbar-brand" href="/#"><img
      src="https://scontent.fhan4-3.fna.fbcdn.net/v/t1.15752-9/280512853_325466752923662_2681122023046000744_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=b7lmG2MYs-oAX9ex9bM&_nc_ht=scontent.fhan4-3.fna&oh=03_AVISwCtkCGj8UVNLGhdUk4jrNziGGgN1z8o4Y1LTZwhNNg&oe=62B43F3C"
      alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">MEN <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">WOMEN <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">KID<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">SPORT<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">BRANDS<span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i
          class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <a class="icon-nav cart-icon" href="/news"><i class="fa-solid fa-cart-arrow-down"></i></a>
    <a class="icon-nav user-icon" href="/login"><i class="fa-solid fa-user"></i></a>

  </div>
</nav>

