<div class="login">
    <div class="login-form">
        <form>
            <h1>ĐĂNG NHẬP</h1>

            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div style="margin-bottom: 10px;">
                <a href="">Forgot password?</a>
            </div>

            <button type="submit" class="btn btn-dark">LOGIN</button>
        </form>
    </div>
    <div class="login-fiscal">
        <h1>TẠO MỘT TÀI KHOẢN</h1>
        <h5>Thật dễ dàng tạo một tài khoản. Hãy nhập địa chỉ email của bạn và điền vào mẫu trên trang tiếp theo và tận
            hưởng những lợi ích của việc sở hữu một tài khoản.</h5>
        <ul>
            <li>Tổng quan đơn giản về thông tin cá nhân của bạn</li>
            <li>Thanh toán nhanh hơn</li>
            <li>Một lần đăng nhập chung duy nhất để tương tác với các sản phẩm và dịch vụ của adidas</li>
            <li>Ưu đãi và khuyến mãi độc quyền</li>

        </ul>

        <a href="/register"><button type="submit" class="btn btn-dark">REGISTER <i
                    class="fa-solid fa-right-long"></i></button></a>
    </div>
</div>