<div class="register">
    <div class="register-form">
        <form>
            <h1>ĐĂNG KÝ</h1>
      
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your first name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your last name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Phone</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="register-fiscal">
        <h1>TẠO MỘT TÀI KHOẢN</h1>
        <h5>Đăng Nhập Chung sẽ giúp bạn truy cập:</h5>
        <ul>
            <li>Một lần đăng nhập chung duy nhất để tương tác với các sản phẩm và dịch vụ của adidas</li>
            <li>Thanh toán nhanh hơn</li>
            <li>Xem lịch sử đặt hàng riêng của bạn</li>
            <li>Thêm hoặc thay đổi tùy chọn email</li>
        </ul>
    </div>
</div>