<div class="mt-4">
    <form >
  <div class="form-group">
    <label for="exampleInputEmail1">Keywords</label>
    <input type="text" name="q" class="form-control" id="search-input"  placeholder="Enter your words you want">
    
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>